
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <form >
            <fieldset>
                <div class="form-group">
                    <label for="room" class="form-label mt-4">Room</label>
                    <input type="text" id="room" class="form-control" id="room" placeholder="Room">
                </div>
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <% data %>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>